body {
  font-family: arial;
}

h1, h2 {          /* coma(,) means and */
  color: green;
}

h2 {
  font-style: italic;
}

ul li a {
  color: red;
}

ol li a {
  color: violet;
}

#p1 {             /* using id*/
  color: red;
}

.p2 {             /* using class-> better to use class than id */
  color: violet;
}

.cetak-tebal {
  font-weight: bold;
}

p.cetak-tebal {
  font-size: 20px;
}

/* priority in using selector is HTML -> class -> id */